{% load i18n %}

<ul class="breadcrumb">
    <li><a href="{% url 'forum:index' %}"><i class="fa fa-home">&nbsp;</i>{% trans "Forum index" %}</a></li>
    {% if forum %}
        {% for ancestor in forum.get_ancestors %}
            {% url 'forum:forum' ancestor.slug ancestor.id as this_url %}
            <li><a href="{{ this_url }}">{{ ancestor.name }}</a></li>
        {% endfor %}
        {% url 'forum:forum' forum.slug forum.id as this_url %}
        <li><a href="{{ this_url }}">{{ forum.name }}</a></li>
    {% endif %}
    {% if topic %}
        {% url 'forum_conversation:topic' forum.slug forum.id topic.slug topic.id as this_url %}
        <li><a href="{{ this_url }}">{{ topic.subject }}</a></li>
    {% endif %}
</ul>