{% extends MACHINA_BASE_TEMPLATE_NAME %}
{% load static %}
{% load i18n %}
{% load forum_permission_tags %}

{% block title %}{% trans 'Forum' %} &mdash; {% block sub_title %}{% endblock sub_title %}{% endblock title %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.min.css' %}" type="text/css"/>
{% endblock css %}

{% block body %}
<div class="forum-layout">
  <div class="container" id="main_container">
    <div class="row">
      <div class="col-xs-12">
        {% block breadcrumb %}{% include "partials/breadcrumb.html" %}{% endblock breadcrumb %}
        <div class="pull-right controls-link-wrapper">
        {% if not request.user.is_anonymous %}
          {% url 'forum_member:user_subscriptions' as this_url %}
          <a href="{{ this_url }}" class="btn btn-link"><i class="fa fa-bookmark-o ">&nbsp;</i>{% trans "Subscriptions" %}</a>
          {% url 'forum_member:user_posts' request.user.id as this_url %}
          <a href="{{ this_url }}" class="btn btn-link"><i class="fa fa-comments-o ">&nbsp;</i>{% trans "View my posts" %}</a>
        {% endif %}
        {% get_permission 'can_access_moderation_queue' request.user as can_access_moderation_queue %}
        {% if can_access_moderation_queue %}
            {% url 'forum_moderation:queue' as this_url %}
          <a href="{{ this_url }}" class="btn btn-link"><i class="fa fa-gavel">&nbsp;</i>{% trans "Moderation queue" %}</a>
        {% endif %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {% block messages %}{% include "partials/messages.html" %}{% endblock messages %}
      </div>
    </div>
    {% block content %}
    {% endblock content %}
  </div>
</div>
{% endblock body %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="/assets/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.all.min.js"></script>
{% endblock js %}
