{% load ssi %}
{% load i18n %}
{% load static %}
{% load pipeline %}
{% load tools %}

<!DOCTYPE html>
<html {% get_current_language as LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}">
<head>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, maximum-scale=1.0">

        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}{% endblock meta_description %}"/>
        <meta name="keywords" content="{% block meta_keywords %}{% endblock meta_keywords %}"/>
        <meta property="og:image" content="{% static 'i/asgardia-soc.jpg' %}" />
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        {% javascript 'html5shiv' %}
        <![endif]-->
    {% endblock head %}

    {% block css %}
        {% stylesheet 'style-space' %}
        {% stylesheet 'style-com' %}
        {% stylesheet 'footer-com' %}
    {% endblock css %}

    <link rel="stylesheet"
            href="//fonts.googleapis.com/css?family=Exo+2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=cyrillic,latin-ext">

    <script type="text/javascript" charset="utf-8">
        var LOG_URI = '{{ settings.RAVEN_CONFIG_JS.dsn|safe }}';
    </script>
</head>
<body class="old">

<div class="page-wrap">
    {% block header %}
        {% make_include_vars url=request.get_full_path top_menu_active=top_menu_active as header_GET_KWARGS %}
        {% include_view 'header' GET_KWARGS=header_GET_KWARGS %}
    {% endblock %}
    {% block body %}
        {# The forum content will go in this 'body' block #}
    {% endblock body %}
</div>

{% include 'layout/footer.html' %}

{% block js %}
    {% javascript 'front' %}
    {% javascript 'com' %}
{% endblock %}


{#<script src="{% static 'js/machina.packages.min.js' %}" type="text/javascript" charset="utf-8"></script>#}
<script src="{% static 'js/machina.min.js' %}" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
    $(function () {
        machina.init();
        {% block onbodyload %}{% endblock onbodyload %}
    });
</script>
{% block counters %}
    {% front_counters %}
{% endblock %}
{% block extra_js %}
{% endblock %}


</body>
</html>
